<% if @errors %>
  <%= erb :"_errors", locals: {errors: @errors} %>
<% end %>
<form class="model-form" method="post" action="/models/<%=@model.id%>">
  <input type="hidden" name="_method" value="put">
  <%= erb :"/models/_form" %>
  <input class="form-item submit-btn" type="submit" value="Edit MODEL">
</form>
