<label class="form-item">Email:
  <input class="user_email" name="user[email]" type="text" placeholder="Email">
</label>
<label class="form-item">Password:
  <input class="user_password" name="user[password]" type="password" placeholder="Password">
</label>
