<%= erb :'_errors' %>
<div class="user-form">
  <form method="post" action="/users/login">
    <%= erb :'users/_user_form' %>
    <input type="submit" value="Log In" class="form-button">
  </form>
</div>
