<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Yelp</title>
</head>
<body>
  <header>
    <h1 class="title">Yelp </h1>
  </header>
    <div class="nav-style">
        <nav >
          <ul id="main-nav">
            <li class="nav-item"><a href="/">home</a></li>
              <% if logged_in? %>
              <li class="nav-item"><a href="/users/<%=current_user.id%>">Welcome <%= current_user.username %></a> </li>
              <li class="nav-item">
            <form method="post" action="/users/logout">
              <input id="logout-button" type="submit" value="Log out" class="button">
            </form>
          </li>
            <% else %>
            <li class="nav-item"><a href="/users/login">login</a></li>
            <li class="nav-item"><a href="/users/new">register</a></li>
           <% end %>
          </ul>
        </nav>
    </div>
  <div class="container">
  <%= yield %>
  </div>
</body>
</html>
